<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <link rel="stylesheet" href="/css/scraping.css" type="text/css" />
    <link href="/images/favicon.ico" type="image/x-icon" rel="icon" />
    <title>News</title>
</head>

<body>
    <div class="container main-container">
        <ul class="nav nav-tabs">
            <li class="active"><a href="/"><span class="glyphicon glyphicon-home"></span> Home</a></li>
            <li><a href="/scrape"><span class="glyphicon glyphicon-refresh"></span> Scrape</a></li>
        </ul>
        <div class="row">
            <div class="col-md-12 text-center">
                <h2>BBC News</h2>
                <h4> Science & Environment</h4>
            </div>
            {{{ body }}}
        </div>
        <footer class="row text-center">
            <p> Copyright &copy; Radhika Sivarajan</p>
        </footer>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.js "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
    <script type="text/javascript " src="/javascript/scraping.js "></script>
</body>

</html>