@font-face {
    font-family: BBCTV;
    src: url(BBC_TV.ttf);
}

body {
    background-image: url(../images/background.jpg);
}

.main-text {
    font-family: "BBCTV";
    font-size: 70px;
    color: #127e9c;
}

.sub-text {
    font-family: 'Berkshire Swash', cursive;
    font-size: 30px;
}

.main-container {
    background-color: white;
}

.news-body {
    height: 145px;
}

.news-title {
    font-family: 'Days One', sans-serif;
    font-size: 15px;
    color: white;
    background-color: #5a9286;
    margin-left: -1px;
    margin-right: -1px;
}

.news-comment {
    background-color: #eef5f4;
}

.news-image,
.news-summary {
    padding: 10px;
}

.collapsible-body .news-snippet {
    padding: 1rem;
}

.article-section {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding-left: 15px;
    padding-right: 15px;
    background-image: url(../images/pattern.jpg);
}

.nav-tabs>li.active>a {
    background-image: url(../images/pattern.jpg);
}

.collapsible-body {
    background-color: white;
}

.article-title {
    color: #2f5049;
    font-size: 30px;
    font-family: 'Days One', sans-serif;
    text-shadow: 0 1px 1px #ccc, 0 2px 0 #a0a0a0, 0 3px 0 #c5c2c2, 0 9px 7px #9a9794;
}

.delete-comment-button {
    padding: 5px;
    text-transform: capitalize;
    background-color: red;
    line-height: 1px;
    height: 20px;
    font-size: 10px;
}