@font-face {
    font-family: BBCTV;
    src: url(BBC_TV.ttf);
}

body {
    background-image: url(../images/background.jpg);
}

.main-text {
    font-family: "BBCTV";
    font-size: 70px;
    color: #127e9c;
}

.sub-text {
    font-family: 'Berkshire Swash', cursive;
    font-size: 30px;
}

.main-container {
    background-color: white;
}

.news-body {
    height: 145px;
}

.news-title {
    font-family: 'Days One', sans-serif;
    font-size: 15px;
    color: white;
    background-color: #5a9286;
    margin-left: -1px;
    margin-right: -1px;
}

.news-comment {
    background-color: #eef5f4;
}

.news-image,
.news-summary {
    padding: 10px;
}

.delete-comment-button {
    padding: 5px;
    text-transform: capitalize;
    background-color: red;
    line-height: 1px;
    height: 20px;
    font-size: 10px;
}